.navbar {
  background-color: #D3E4CD;
  height: 10rem;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.user_img {
  background-color: #D3E4CD;
  border: 0;
}

.room {
  font-size: 2rem;
  color: black;
  font-weight: bold;
  margin-top: 2rem;
}

a:link { 
  text-decoration:none; 
}
a:hover {

  color: black;
  border-bottom-width: 1px;
  BORDER-BOTTOM-COLOR: black; 
  border-bottom-style: solid;

}

.dropdown-menu {
  height: 10rem;
  width: 12rem;
  /* font-size: 40rem; */
}

.dropdown-item {
  font-size: 1.5rem;
  font-weight:bold;
}