.container_board {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  min-height: 100%;
  width: 100%;
  min-width: 1250px;
  margin-top: 5rem;
  /* margin: 10rem; */
}

.table_board {
  /* min-width: 1250px; */
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 8rem;
  /* margin-left: 30rem; */
  /* margin-right: 30rem; */
  /* max-width: 1000px; */
  font-size: 1.7rem;
  
}
.table {
  max-width: 1000px;
}

.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: #adc2a9;
}